[Unit]
Description=Space Tracker
After=network.target

[Service]
Type=simple
User=bakkel
WorkingDirectory=/home/bakkel/space-tracker
ExecStart=/usr/bin/python3 /home/bakkel/space-tracker/server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
